h1 {
  font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}

#fig {
  font-family: monospace, Verdana, Geneva, Tahoma, sans-serif;
}

img {
  /* transform: rotateY(180deg); */
  border-style: solid;
}
